<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    v-model="username"
                    :rules="emptyUsername"
                    name="login"
                    prepend-icon="person"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    v-model="password"
                    :rules="emptyPassword"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="login">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  computed: {
    emptyUsername: {
      get () {
        return [
          value =>!!value || 'Username is required'
        ]
      }
    },
    emptyPassword: {
      get () {
        return [
          value => !!value || 'Password is required'
        ]
      }
    },
    username: {
      get () {
        return this.$store.state.userInfo.username
      },
      set (value) {
        this.$store.state.userInfo.username = value
      }
    },
    password: {
      get () {
        return this.$store.state.userInfo.password
      },
      set (value) {
        this.$store.state.userInfo.password = value
      }
    }
  },
  methods: {
    login : function () {
      console.log('ssz')
      this.$store.dispatch('AUTH_REQUEST', {username: this.username, password: this.password})
    }
  }
}
</script>