<template>
  <v-app>
    <v-content>
    <router-view/>
    </v-content>
  </v-app>
</template>

<script>


export default {
  name: 'App',

  components: {
  },
  created () {
    let _s = this
    _s.$store.state.socketio = this.io
  },
  data: () => ({
    //
  }),
};
</script>
